<app-nav></app-nav>
<div class="table-responsive small container position-static  top-0  ">
  <div class="col-md-6 offset-md-3" >
 
    
    <div class=" container input-group mb-3 ">
      <input type="text" class="form-control" placeholder="Search..."   aria-label="Search" aria-describedby="button-addon2"  [(ngModel)]="userName" [ngModelOptions]="{standalone:true}" >
      <button class="btn btn-outline-secondary" type="button" (click)="serarchUser()"  id="button-addon2"><i class="bi bi-search"></i></button>
    </div>
  </div>

  <table class="table table-striped table-sm table-hover "> 
   
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Address2</th>
        <th scope="col">Country</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let borower of borowerList">
        <td>#USER {{borower.id}}</td>
        <td>{{borower.firstName +" "+borower.lastName+"("+borower.userName+")" }}</td>
        <td>{{borower.address}}</td>
        <td>{{borower.address2}}</td>
        <td>{{borower.country}}</td>
        <td>{{borower.email}}</td>
        <td><button (click)="setSelectBorower(borower)" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger "><i class="bi bi-trash3-fill"></i></button></td>
        <td><button (click)="setSelectBorower(borower)" class="btn btn-primary "data-bs-toggle="modal" data-bs-target="#updateModal" data-bs-whatever="@getbootstrap"><i class="bi bi-pencil-square"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Model -->
<!-- Button trigger modal -->


<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Conformation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        If you want to delete 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteBorrower()">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- model update conformation -->

<!-- Modal -->
<div class="modal fade" id="updateConformation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        If you want to update {{SelectBorower?.name}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" >Close</button>
        <button type="button" class="btn btn-primary"(click)="updateBorrower()" data-bs-dismiss="modal">Conform</button>
      </div>
    </div>
  </div>
</div>

<!-- model update -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">ID</label>
            <input type="text"  disabled value="{{selectedUser?.id}}" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">First Name</label>
            <input type="text"  [(ngModel)]="selectedUser && selectedUser.firstName" [ngModelOptions]="{standalone:true}"  class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Last Name</label>
            <input type="text"  [(ngModel)]="selectedUser && selectedUser.lastName" [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">userName</label>
            <input type="text"  [(ngModel)]="selectedUser && selectedUser.userName" [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">email</label>
            <input type="text"  [(ngModel)]="selectedUser && selectedUser.email"  [ngModelOptions]="{standalone:true}"   class="form-control" id="recipient-name">
          </div> 
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">address</label>
            <input type="text"  [(ngModel)]="selectedUser && selectedUser.address" [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">address 2</label>
            <input type="text"  [(ngModel)]="selectedUser && selectedUser.address2" [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">address</label>
            <input type="text"  [(ngModel)]="selectedUser && selectedUser.country" [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">address</label>
            <input type="text"  [(ngModel)]="selectedUser && selectedUser.phoneNumber" [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button"  data-bs-toggle="modal" data-bs-target="#updateConformation" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>